body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling to ensure accurate positioning */
    position: relative; /* Ensure body is the positioning context */
}

html {
    cursor: url('assets/cursor.svg'), auto; /* Custom cursor */
}

.header img{
    position:fixed;
    width:100vw;
    z-index: 9998; /* A very high value to ensure it's on top */
}

#mouse-trail {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none; /* Prevent interference with mouse events */
    z-index: 9999; /* A very high value to ensure it's on top */
    display: none; /* Hide initially */
}

.panels {
    display:flex;
    justify-content: space-between;
    width:100vw;
    z-index: 9997; /* A very high value to ensure it's on top */

    
}

.panels img {
    height:100vh;
    background-color: white;
    padding-top:50px;
    z-index: 9997; /* A very high value to ensure it's on top */

}

#mydiv1 {
    position: absolute;
    top: 113px;
    left: 322px;
}

#mydiv2 {
    position: absolute;
    top: 92px;
    left: 694px;
}

#mydiv4 {
    position: absolute;
    top: 418px;
    left: 752px;
}

#mydiv5 {
    position: absolute;
    top: 456px;
    left: 309px;
}

#mydiv6 {
    position: absolute;
    top: 399px;
    left: 287px;
}

#mydivheader {
    cursor: url('assets/cursor.svg'), auto !important; /* Custom cursor */

}

.draggable {
    position: absolute;
    z-index: 1;
    cursor: url('assets/cursor.svg'), auto; /* Custom cursor */

}

.draggable-header img {
    cursor: url('assets/cursor.svg'), auto; /* Custom cursor */
}