body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling to ensure accurate positioning */
    position: relative; /* Ensure body is the positioning context */
}

html {
    cursor: url('assets/cursor.svg'), auto; /* Custom cursor */
}

.header img{
    position:fixed;
    width:100%;

}

#mouse-trail {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none; /* Prevent interference with mouse events */
    z-index: 9999; /* A very high value to ensure it's on top */
    display: none; /* Hide initially */
}

#mydiv1 {
    position: absolute;
    top: 317px;
    left: 488px;
}

#mydiv2 {
    position: absolute;
    top: 217px;
    left: 133px;
}

#mydiv3 {
    position: absolute;
    top: 148px;
    left: 966px;
}

#mydiv4 {
    position: absolute;
    top: 519px;
    left: 78px;
}

#mydiv5 {
    position: absolute;
    top: 432px;
    left: 857px;
}

#mydiv6 {
    position: absolute;
    top: 602px;
    left: 719px;
}

#mydivheader {
    cursor: url('assets/cursor.svg'), auto !important; /* Custom cursor */

}

.draggable {
    position: absolute;
    z-index: 1;
    cursor: url('assets/cursor.svg'), auto; /* Custom cursor */

}

.draggable-header img {
    cursor: url('assets/cursor.svg'), auto; /* Custom cursor */
}